<!-- navbar-->

<!-- <link rel="stylesheet" href="sso.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">  -->
<!-- navbar-->

<style>
  @media only screen and (max-width: 600px) {
    .m-width{
    width: auto !important;
  }
  .navbar-padding{
    padding: 0.45rem 1rem !important;
  }
  }
  
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-padding shadow-sm fixed-top">
  <a class="navbar-brand m-width" href="#"><img src="assets/logo1.png" alt="hello" class="w-75"></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent">
    <a href="#action" class="action" style="text-decoration:none; font-size:16px;" pageScroll href="#show">TEST API!</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item icon-1 dropdown font-weight-bold">
        <a class="nav-link dropdown-toggle  text-black-50 mt-2" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" area-expanded="false">Docs</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="prev()">Sign Out</a>
          <a class="dropdown-item" (click)="aes()">AES/ENCRYPTION</a>
        </div>
      </li>
      <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle font-weight-bold" style="font-size: 2rem; margin-bottom: 1rem;" href="#"
          id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...

        </a>

      </li>
    </ul>
  </div>
</nav>



<div class="row mx-0">
  <div class="col-lg-2 px-0 shadow-sm" style="padding-top: 10rem;">
    <ul class="nav nav-tabs h-100 flex-column text-center px-5" style="position: fixed;">
      <li class="nav-item icon-1 font-weight-bold"><a pageScroll href="#introduction"
          class="nav-link active text-black-50" style="font-family: 'Ubuntu', sans-serif;"
          data-toggle="tab">Introduction</a></li>
      <li class="nav-item font-weight-bold"><a href="#errors" class="nav-link text-black-50"
          data-toggle="tab">Errors</a></li>
      <li class="nav-item icon-3 font-weight-bold"><a href="#metadata" class="nav-link text-black-50"
          data-toggle="tab">Metadata</a></li>
    </ul>

  </div>

  <div class="col-lg-10" style=" margin-top: 7rem;">


    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 0rem;">
      <div id="introduction" class=" tab-pane active"><br>

        <div class="row mx-0 my-0">
          <div class="col-lg-7">
            <div>

              <span>
                <div class="spinner-grow spinner-grow-sm mr-2" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <a class="btn-custom mb-5 mt-0 py-2 px-5" pageScroll href="#show" data-aos="fade-up"
                  data-aos-delay="800" style="cursor: pointer; text-decoration: none;"><span>Try Code Sample</span></a>
              </span>
              <br>
              <!-- <i class="fas fa-angle-double-up d-flex" style="font-size:30px; margin-left: 7rem;"></i><br> -->
              <h1 class="display-1">SSO Integration</h1>
              <p style="line-height: 1.7;" class="text-justify">Riskcovry employs multiple strategies to do SSO to
                partner’s
                signed in users. Most common
                strategy is to encrypt the data shared using a pre-shared keys using state of the art AES-256
                encryption.This information is to be encrypted using the pre-shared key and pass along with the PWA
                URL as a parameter.<br>
              </p>
            </div>

            <div class="text-justify my-5">
              <h1 class="display-1" style="font-size: 30px;">Staff Info</h1>
              <p style="line-height: 1.7;">Staff information may be updated in to the Riskcovry system mainly through
                the
                excel upload option:<br>
                Uploading the staff information upfront to the system using excel upload. The format of the
                excel shall be shared.
                This is ideal if the staff list who has access to the insurance sale is not changing very
                frequently. The system will only allow access to the POS in the uploaded list even if the SSO
                is successful.
              </p>
            </div>
            <div class="text-justify my-5 py-1">
              <h1 class="" style="font-size:30px;">Payment</h1>
              <p style="line-height: 1.7;">Riskcory works with the following methods for payment to purchase policies.
                In
                either
                method, partner need to keep a deposit with Riskcovry and recharge before the balance
                runs out.<br><br>
                <span class="font-weight-bold" style="font-size: 0.9rem; font-family: 'Ubuntu';">- Wallet Direct
                  Debit</span><br>
                The API accepts the following parameters along with other information:<br>
                <span class=li>ID of the POSP</span>
                <span class=li>Amount to be debited</span><br>
                This is should return the following information:
                <span class=li>Success/Failure</span>
                <span class=li>Reason for failure</span><br>
                <span class="font-weight-bold" style="font-size: 0.9rem; font-family: 'Ubuntu';">- Wallet
                  Redirect</span><br>
                The API accepts the following parameters along with other information:<br>
                <span class=li>Amount to be debited</span>
                <span class=li>Reference number for transaction</span><br>
                This is should return the following information:
                <span class=li>Success/Failure</span>
                <span class=li>Reason for failure</span>
                <span class=li>Transaction Reference </span>
                <span class=li>Amount debited</span><br>




              </p>
            </div>

          </div>
          <div class="col-lg-5">
            <div class="container shadow border bg-light mr-5 py-0 px-4"
              style="border-radius: 17px; width: 100%; margin-top: 0rem;">
              <h4 class="my-3 h4">Partner SSO details</h4>
              <!-- <button type="button" name="button" class="btn btn-outline-success px-5">Order via Excel Sheet</button> -->
              <hr>
              <div class="row mx-auto">
                <div class="col-lg-6">
                  <p class="two">id</p>
                  <p class="two">name</p>
                  <p class="two">partner_code</p>
                  <p class="two">start_from</p>
                  <p class="two">active_till</p>
                  <!-- <p class="two">LOGO_ID</p> -->
                  <p class="two">email</p>
                  <p class="two">phone_number</p>
                  <!-- <p class="two">CREATED AT</p>
                  <p class="two">UPDATED AT</p>
                  <p class="two">API KEY</p>
                  <p class="two">SECRET KEY</p> -->
                  <p class="two">organization_code</p>
                  <!-- <p class="two">SEND EMAILS</p> -->

                </div>
                <!--DISPLAYING THE PARTNER DETAILS THROUGH THE GET CALL-->
                <div class="col-lg-5">
                  <p class="two font-weight-bold" *ngIf="users">{{users.id}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.name}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.partner_code}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.start_from}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.active_till}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.email}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.phone_number}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.organization_code}}</p>
                  <!-- <p class="two font-weight-bold" *ngIf="users">{{users.send_emails}}</p> -->
                  <!-- <p class="two font-weight-bold" *ngIf="users">{{users.updated_at}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.api_key}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.secret_key}}</p>
                  <p class="two font-weight-bold" *ngIf="users">{{users.organization_code}}</p> -->
                </div>
              </div>
            </div>
            <div class="container-fluid my-5 py-5">
              <div class="">
                <div class="card-header card-radius-head card-bg pr-3 py-0" id="show" style="color: #a3acb9;">
                  <p style="display: inline-block; color: #1ea672;" id="action">CODE SNIPPET</p>
                 
                  <div style="display: inline; margin-left: 30%;" align="right">
            
                    </div> <button type="button" class="btn dropdown-toggle" style="color: #a3acb9;"
                    data-toggle="dropdown">
                    lang<i class="fas fa-sort ml-1"></i>
                  </button><a style="cursor: pointer;" class="copy ml-auto p-0" (click)="copy(userinput , user , user1 , user2 , user3)"><i
                      class="fas fa-clipboard thin-border pl-2 mr-0  mt-3"></i></a><label *ngIf="msgHideAndShow" style="float: right;">{{textMessage}}</label>
                  <div class="dropdown-menu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a href="#python" class="nav-link" data-toggle="tab">Python</a>
                      </li>
                      <li class="nav-item">
                        <a href="#java" class="nav-link" data-toggle="tab">Java</a>
                      </li>
                      <li class="nav-item">
                        <a href="#php" class="nav-link" data-toggle="tab">Php</a>
                      </li>
                      <li class="nav-item">
                        <a href="#ruby" class="nav-link" data-toggle="tab">Ruby</a>
                      </li>
                      <li class="nav-item">
                        <a href="#node" class="nav-link" data-toggle="tab">Node</a>
                      </li>
                    </ul>
                  </div>

                </div>
                <div class="card-body card-radius-body px-4 py-4" style="background-color: #4f566b;">
                  <div class="lead">
                    <div class="tab-content m-0 text-success">
                      <div class="tab-pane show" id="python">
                        <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                        <textarea rows="35"  cols="40" class="mt-0 ml-0" #user contenteditable>
                          import base64
                          import hashlib
                          from Crypto.Cipher import AES
                          from Crypto import Random
                          BLOCK_SIZE = 16
                          pad = lambda s: s + (BLOCK_SIZE - 
                          len(s) % BLOCK_SIZE) *
                          chr(BLOCK_SIZE - len(s) % BLOCK_SIZE)
                          unpad = lambda s: s[:-ord(s[len(s) - 1:])]
                          password = input("Enter encryption 
                          password: ")
                          def encrypt(raw, password):
                              private_key = hashlib.sha256
                              (password.encode("utf-8")).digest()
                              raw = pad(raw)
                              iv = Random.new().read(AES.block_size)
                              cipher = AES.new(private_key, 
                              AES.MODE_CBC, iv)
                              return base64.b64encode(iv + 
                              cipher.encrypt(raw))
                          def decrypt(enc, password):
                              private_key = hashlib.sha256
                              (password.encode("utf-8")).digest()
                              enc = base64.b64decode(enc)
                              iv = enc[:16]
                              cipher = AES.new(private_key, 
                              AES.MODE_CBC, iv)
                              return unpad(cipher.decrypt(enc[16:]))
                          encrypted = encrypt("This is a secret
                           message"
                          , password)
                          print(encrypted)
                          decrypted = decrypt(encrypted, password)
                          print(bytes.decode(decrypted))
                        </textarea>
                      </div>
                      <div class="tab-pane fade" id="java">
                        <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                        <textarea class="mt-3 ml-3"  rows="48" cols="40" #userinput contenteditable>
                          public class Encryption {
                            public String encrypt(String word)
                             throws Exception {
                              byte[] ivBytes;
                              String password="Hello"; 
                              SecureRandom random = new 
                              SecureRandom();
                              byte bytes[] = new byte[20];
                              random.nextBytes(bytes);
                              byte[] saltBytes = bytes;
                              SecretKeyFactory factory = 
                              SecretKeyFactory.getInstance
                              ("PBKDF2WithHmacSHA1");
                              PBEKeySpec spec = new PBEKeySpec
                              (password.toCharArray(),
                              saltBytes,65556,256);
                              SecretKey secretKey = 
                              factory.generateSecret(spec);
                              SecretKeySpec secret = 
                              new SecretKeySpec
                              (secretKey.getEncoded(), "AES");
                              Cipher cipher = Cipher.
                              getInstance
                              ("AES/CBC/PKCS5Padding");
                              cipher.init(Cipher.ENCRYPT_MODE,
                              secret);
                              AlgorithmParameters params =
                              cipher.getParameters();
                              ivBytes = params.getParameterSpec
                              (IvParameterSpec.class).getIV();
                              byte[] encryptedTextBytes =
                              cipher.doFinal(word.getBytes
                              ("UTF-8"));
                              byte[] buffer = new byte
                              [saltBytes.length + ivBytes.length
                              + encryptedTextBytes.length];
                              System.arraycopy(saltBytes, 0,
                              buffer, 0, saltBytes.length);
                              System.arraycopy(ivBytes, 0, buffer,
                              saltBytes.length, ivBytes.length);
                              System.arraycopy(encryptedTextBytes,
                              0, buffer, saltBytes.length + 
                              ivBytes.length, 
                              encryptedTextBytes.length);
                              return new Base64()
                              .encodeToString(buffer);
                              }
                          } </textarea>
                      </div>
                      <div class="tab-pane fade" id="php">
                        <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                        <textarea class="mt-3 ml-3"  rows="26" cols="40" #user1 contenteditable>
                          <?php
                          $plaintext = 'My secret message 1234';
                          $password = '3sc3RLrpd17';
                          $method = 'aes-256-cbc';
                          $key = substr(hash('sha256', $password,
                           true), 0, 32);
                          echo "Password:" . $password . "\n";
                          $iv = chr(0x0) . chr(0x0) . chr(0x0) .
                           chr(0x0) . chr(0x0) . chr(0x0) . chr(0x0) .
                            chr(0x0) . chr(0x0) . chr(0x0) . chr(0x0)
                             . chr(0x0) . chr(0x0) . chr(0x0) .
                              chr(0x0) . chr(0x0);<br>
                          $encrypted = base64_encode
                          (openssl_encrypt($plaintext, $method,
                           $key,
                           OPENSSL_RAW_DATA, $iv));
                          $decrypted = openssl_decrypt
                          (base64_decode($encrypted), $method,
                           $key, OPENSSL_RAW_DATA, $iv);
                          echo 'plaintext=' . $plaintext .
                           "\n";
                          echo 'cipher=' . $method . "\n";
                          echo 'encrypted to: ' . $encrypted . "\n";
                          echo 'decrypted to: ' . $decrypted .
                           "\n\n";>
                        </textarea>
                      </div>
                      <div class="tab-pane fade" id="ruby">
                        <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                        <textarea rows="20" cols="35"  class="mt-3 ml-3" #user2 contenteditable>
                          require "openssl"
                          require "digest"
                          def aes256_encrypt(key, data)
                            key = Digest::SHA256.digest(key)
                            if(key.kind_of?(String) && 32 
                            != key.bytesize)
                            aes = OpenSSL::Cipher
                            .new('AES-256-CBC')
                            aes.encrypt
                            aes.key = key
                            aes.update(data) + aes.final
                          end
                          
                          def aes256_decrypt(key, data)
                            key = Digest::SHA256.digest(key) 
                            if(key.kind_of?(String) && 32
                            != key.bytesize)
                            aes = OpenSSL::Cipher
                            .new('AES-256-CBC')
                            aes.decrypt
                            aes.key = Digest::SHA256.digest(key)
                            aes.update(data) + aes.final
                          end
                        </textarea>
                      </div>
                      <div class="tab-pane fade" id="node">
                        <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                        <textarea rows="42" cols="40" class="mt-3 ml-3" #user3 contenteditable> 	
                          const crypto = require('crypto');
                          const algorithm = 'aes-256-cbc';
                          const key = crypto.randomBytes(32);
                          const iv = crypto.randomBytes(16);
                          
                          function encrypt(text) {
                             let cipher = crypto
                             .createCipheriv('aes-256-cbc'
                             , Buffer.from(key), iv);
                             let encrypted = cipher.
                             update(text);
                             encrypted = Buffer.
                             concat([encrypted,
                             cipher.final()]);
                             return { iv: iv.toString('hex'),
                             encryptedData: encrypted
                             .toString('hex') };
                          }
                          
                          function decrypt(text) {
                             let iv = Buffer.from(text.iv,
                              'hex');
                             let encryptedText = Buffer.
                             from(text.encryptedData, 'hex');
                             let decipher = crypto.
                             createDecipheriv('aes-256-cbc',
                             Buffer.from(key), iv);
                             let decrypted = decipher.
                             update(encryptedText);
                             decrypted = Buffer.
                             concat([decrypted,
                             decipher.final()]);
                             return decrypted.toString();
                          }
                          var hw = encrypt("Let's
                          do this encrypt and decrypt.")
                          console.log(hw)
                          console.log('Your 
                          decrypt string is : '+
                          decrypt(hw))
                        </textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" py-4">
                  <div class="card-header card-radius-head card-bg pr-3 py-0" style="color: #a3acb9;">
                    <p style="display: inline-block; color: #1ea672;">CODE SNIPPET</p>
                    <div style="display: inline; margin-left: 30%;" align="right">
                      <button type="button" class="btn dropdown-toggle" style="color: #a3acb9;"
                        data-toggle="dropdown">
                        lang<i class="fas fa-sort ml-1"></i>
                      </button><a style="cursor: pointer;" class="copy ml-auto p-0"><i
                          class="fas fa-clipboard thin-border pl-2 mr-0  mt-3"></i></a>
                        </div>
                    <div class="dropdown-menu">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a href="#python" class="nav-link" data-toggle="tab">Python</a>
                        </li>
                        <li class="nav-item">
                          <a href="#java" class="nav-link" data-toggle="tab">Java</a>
                        </li>
                        <li class="nav-item">
                          <a href="#php" class="nav-link" data-toggle="tab">Php</a>
                        </li>
                        <li class="nav-item">
                          <a href="#ruby" class="nav-link" data-toggle="tab">Ruby</a>
                        </li>
                        <li class="nav-item">
                          <a href="#go" class="nav-link" data-toggle="tab">Go</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                  <div class="card-body card-radius-body px-4 py-4" style="background-color: #4f566b;color: #a3acb9;">
                    <div class="lead">
                      <div class="tab-content m-0">
                        <div class="tab-pane show" id="python">
                          <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                          <p class="mt-3 ml-3"> def palindrome(string):<br />
                            return string == string[::-1]<br />
                            sdfdf
                            palindrome('python')</p>
                        </div>
                        <div class="tab-pane fade" id="java">
                          <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                          <p class="mt-3 ml-3"> public static String formatSize(long v) <br />

                            int z = (63 - Long.numberOfLeadingZeros(v)) / 10;<br>
                            return String.format("%.1f %sB", (double)v / (1L << (z*10)), " KMGTPE" .charAt(z)); </p>
                        </div>
                        <div class="tab-pane fade" id="php">
                          <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                          <p class="mt-3 ml-3"> $email = $_POST['email'];<br>
                            if(preg_match(([a-zA-Z0-9-])",$email)) <br>
                            echo 'This is a valid email.';<br>
                            else <br>
                            echo 'This is an invalid email.';<br>
                          </p>
                        </div>
                        <div class="tab-pane fade" id="ruby">
                          <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                          <p class="mt-3 ml-3"> def sum_eq_n?(arr, n)<br>
                            return true if arr.empty? && n == 0<br>
                            arr.product(arr).reject |a,b| a == b .any? |a,b| a + b == n <br>
                            end
                          </p>
                        </div>
                        <div class="tab-pane fade" id="go">
                          <!-- <button type="button" class="btn btn-success ml-2 mt-3">Edit</button> -->
                          <p class="mt-3 ml-3"> func()
                            resource.Lock()<br>
                            defer resource.Unlock()<br>
                            // Do stuff with resource<br>
                            ()
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="errors" class=" tab-pane fade" style="margin-top: 10rem;"><br>

        <p>Errors</p>

      </div>
      <div id="metadata" class="tab-pane fade" style="margin-top: 10rem;"><br>

        <p>MetaData</p>

      </div>
    </div>


  </div>
</div>
