<form [formGroup]="accept_policies" (submit)="accept_policiesSubmit()">






		<div class="header col-12">
			<img class="img animated bounceInRight slower" src="assets/personal_accident.png" alt="hello">
			<p class="mt-3 one">Let accidents not</p>
			<p class="text-bold one">hurt your wallet!</p>
			<p class="text-justify mt-2 ">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less</p>


		</div>

		
	
	<hr class="w-100 mt-1">


	<div class="box_one">

	<div class="row">
		<div class="col-xs-6">
			<p class="two text-bold ml-4" style="font-family: 'Ubuntu', sans-serif;">Select Sum Insured`</p>
		</div>
		<div class="col-xs-6">
			<p class="warning" style="margin-left: 9rem;">*Select a plan to proceed`</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div  id="todoInput" class="card shadow-lg ml-4 animated bounce " style="width:auto; height:6.5rem;">
				<div class="card-body">
					<img class="select" src="assets/select.png" />

					<p class="mb-0" style="font-weight: bolder; font-size: 15px;">$ 2 Lakhs</p>
					<p class="mt-0 ml-2 mb-0" style=" font-size: 10px; color:#6d7278">For 1 year</p>
					

						<button (click)="addToDo()" type="button" name="button"
						class="btn ml-1 mt-1">$ 400</button>	
				
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div   class="card mx-2 shadow-sm animated bounce " style="width:auto; height:6.5rem">
				<div class="card-body">
					<p class="mb-0" style="font-weight: bolder; font-size: 15px;">$ 5 Lakhs</p>
					<p class="mt-0 ml-2 mb-0" style=" font-size: 10px; color:#6d7278">For 1 year</p>
					

						<button   type="button" name="button"
						class="btn ml-1 mt-1">$ 1000</button>

					
					<!-- <h5 class="card-title">Card title</h5>
				  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="card-link">Card link</a>
				  <a href="#" class="card-link">Another link</a> -->
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div  class="card mr-0 shadow-sm animated bounce" style="width:auto; height:6.5rem">
				<div class="card-body">
					<p class="mb-0" style="font-weight: bolder; font-size: 15px;">$ 9 Lakhs</p>
					<p id="" class="mt-0 ml-2 mb-0" style=" font-size: 10px; color:#6d7278">For 1 year</p>
					

						<button  type="button" name="button"
						class="btn ml-1 mt-1">$ 2000</button>



					<!-- <h5 class="card-title">Card title</h5>
				  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="card-link">Card link</a>
				  <a href="#" class="card-link">Another link</a> -->
				</div>
			</div>
		</div>



	</div>



	

	


			<div class=" container mx-0 shadow-lg mt-4" style="height:19rem; width:auto; border-radius:10px;">
				<div class="row">
					<div class=" col-xs-6 col-sm-12">

						<button type="button" class="circle mt-2 ml-1" ></button>
						<p class="mt-3 mr-5 options" style="color:#6d7278; font-weight: 600;">Lumsum payout to your family in case<br> 
							of accidentaal death</p>
							 <!-- <p class="options mt-0" style="">of accidentaal death</p> -->

					</div>
			
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-12">

						<button type="button" class="circle mt-2 ml-1" ></button>
						<p class="mt-4 options" style="margin-right: 5.5rem;color:#6d7278; font-weight: 600;">No medical checkup required</p>
							 <!-- <p class="options mt-0" style="">of accidentaal death</p> -->

					</div>
			
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-12">

						<button type="button" class="circle mt-2 ml-1" ></button>
						<p class="mt-4 options" style="margin-right: 9.5rem; color:#6d7278; font-weight: 600;">Instant issuance</p>
							 <!-- <p class="options mt-0" style="">of accidentaal death</p> -->

					</div>
			
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-12">

						<button type="button" class="circle mt-2 ml-1" ></button>
						<p class="mt-4 options" style="margin-right: 11rem; color:#6d7278; font-weight: 600;">Easy Claims</p>
							 <!-- <p class="options mt-0" style="">of accidentaal death</p> -->

					</div>
			
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<a class="attr" href="#"><span class="nine mt-4">KNOW MORE DETAILS</span></a>
					</div>
				</div>
			</div>

			<footer>
				<div class="row">

					<div class="col-xs-12 col-lg-12">
						<a class="attr" href="#"><span class="nine mt-4"><img class="pdf mx-1 " src="assets/pdf1.png">POLICY TERMS & CONDITIONS</span></a>
					</div>
	
				</div>

				<div class="row">
					<div class="col-sm-12 mt-3">
						<p class="d-flex justify-content-center align-items-center terms mb-1">By clicking on "Buy Now", you agree to our Privacy</p>
						<a href="#"><p class="d-flex justify-content-center align-items-center terms1 ">Policy , Terms of Use and Terms & Conditions</p></a>
					</div>
				</div>
		</footer>
		</div>
			
		
	




	

	








</form>